<div class="page-container">
  <div class="header">
    <a routerLink=""><img src="https://gretschguitars.com/assets/sites/gretsch/gretsch-logo.png" alt="Gretsch logo"></a>
    <ul>
      <li (click)="runFilter('gear')"><a routerLink="guitars">GEAR</a></li>
      <li>NEWS</li>
      <li>CUSTOM SHOP</li>
      <li>SUPPORT</li>
      <li>DEALER LOCATOR</li>
    </ul>
  </div>
  <!-- <router-outlet name='guitarFilterList'></router-outlet>
  <router-outlet name='socialLinkList'></router-outlet> -->
  <router-outlet></router-outlet>
  <!-- <div class="guitar-filter-list" *ngIf='filterTerm === ""'>
    <app-guitar-filter-list [childGuitarFilterArray]="masterGuitarFilterArray" (clickedGuitarFilterComponent)="runFilter($event)"></app-guitar-filter-list>
  </div> -->
  <!-- <div class="social-link-list" *ngIf='filterTerm === ""'>
    <app-social-link-list [childSocialLinkArray]="masterSocialLinkArray"></app-social-link-list>
  </div>
  <div class="container">
    <app-guitar-list [childGuitarArray]="masterGuitarArray" [childFilterTerm]="filterTerm"></app-guitar-list>
  </div> -->
</div>
