<div class="header">
  <img src="https://gretschguitars.com/assets/sites/gretsch/gretsch-logo.png" alt="Gretsch logo">
  <ul>
    <li (click)="runFilter('gear')">GEAR</li>
    <li>NEWS</li>
    <li>CUSTOM SHOP</li>
    <li>SUPPORT</li>
    <li>DEALER LOCATOR</li>
  </ul>
</div>
<div class="container">
  <app-guitar-list [childGuitarArray]="masterGuitarArray" [childFilterTerm]="filterTerm"></app-guitar-list>
</div>
<div class="banner">
  <img src="../assets/banner.jpg" alt="banner image">
</div>
